/* nullstyle */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  color: inherit;
  display: inline-block;
  background-color: transparent;
  border: none;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

body {
  min-height: 100%;
  overflow-x: hidden;
  font-family: Varela Round;
  color: #111;
  background: #F8F8F8;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Varela Round;
  text-align: center;
  color: #111;
}

/* ----- top-bar ----- */

.top-bar {
  background-color: #A5C926;
  height: 32px;
}

.top-bar .container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* центрує по вертикалі */
  height: 100%;
}

.top-bar a {
  font-family: Open Sans;
  font-style: normal;
  color: #fff;
  font-size: 11px;
  margin-right: 16px;
}

.top-bar a:hover {
  text-decoration: underline;
}

.top-bar address a:last-child {
  margin-right: 0;
}

.top-bar ul {
  display: flex;
}

.top-bar ul li {
  transition: transform .2s ease-in-out;
}

.top-bar ul li:hover {
  transform: translateY(-2px)
}

/* ----- header ----- */

.header {
  height: 72px;
  background: #F8F8F8;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* центрує по вертикалі */
  height: 100%;
}

.header__left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  font-size: 21px;
  font-family: Varela Round;
  cursor: grab;
}

.header .logo {
  margin-right: 57px;
}

.nav ul {
  display: flex;
}

.nav li {
  margin-right: 36px;
  transition: transform .2s ease-in-out;
}

.nav li:last-child {
  margin-right: 0;
}

.nav li:hover {
  transform: translateY(-2px);
  text-decoration: underline;
}

.nav button {
  font-family: Open Sans;
  font-style: normal;
  font-size: 14px;
}

.header nav button {
  color: #111;
}

.header__cart {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-family: Open Sans;
  cursor: pointer;
}

.header__cart * {
  margin-right: 13px;
  transition: transform .1s ease-in-out;
}

.header__cart *:hover {
  transform: scale(1.05);
}

.header__cart span:hover {
  text-decoration: underline;
}

.header__cart img {
  width: 24px;
}

.cart__count { /* todo коли 3-х значне число, не влізається в кружок */
  background-color: #A5C926;
  padding: 6px;
  width: 20px;
  height: 20px;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0;
}

/* ----- hero ----- */

.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 570px;
  height: 308px;
  background-color: #fff;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.subtitle {
  font-family: Open Sans;
  color: #fff;
  font-size: 13px;
  color: #A5C926;
  margin-bottom: 17px;
}

.hero__content h1 {
  font-size: 39px;
  width: 416px;
  margin-bottom: 20px;
}

.btn {
  font-family: Open Sans;
  font-size: 14px;
  color: #fff;
  background-color: #A5C926;
  padding: 12px 28px;
  border-radius: 24px;
}

.btn:hover {
  text-decoration: underline;
}

.hero__content a:hover {
  text-decoration: underline;
}

/* ----- toy-type ----- */

.toy-type {
  height: 460px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.toy-type img {
  width: 220px;
  height: 220px;
  transform: translateY(-26px);
}

.toy-type__title {
  font-family: Varela Round;
  color: #fff;
  font-size: 28px;
  margin-bottom: 16px;
}

.toy-type__btn {
  font-family: Open Sans;
  color: #111;
  background-color: #fff;
  padding: 10px 24px;
  border-radius: 20px;
  font-size: 13px;
}

.toy-type__btn:hover {
  text-decoration: underline;
}

.stuffed {
  display: flex;
  align-items: center;
  background-color: #FFC12C;
  width: 570px;
  height: 188px;
  border-radius: 16px;
  transition: box-shadow 0.2s ease-in-out,
  transform 0.2s ease-in-out;
}

.stuffed:hover {
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.06);
  transform: translateY(-5px);
}


.stuffed__body {
  margin-left: 29px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.wooden {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #FB416B;
  width: 570px;
  height: 188px;
  border-radius: 16px;
  transition: box-shadow 0.2s ease-in-out,
  transform 0.2s ease-in-out;
}

.wooden:hover {
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.06);
  transform: translateY(-5px);
}

.wooden__body {
  margin-right: 29px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}

.wooden img {
  margin-right: 21px;
}

/* ----- catalogue ----- */

.catalogue {
  min-height: 588px;
}

.catalogue .container {
  padding-bottom: 135px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  color: #111111;
  font-family: Varela Round;
  height: 100%;
}

.catalogue__top {
  display: flex;
  align-content: center;
  justify-content: space-between;
  border-bottom: 2px solid #E5E5E5;
  padding-bottom: 55px;
  width: 100%;
  position: relative;
  margin-bottom: 55px;
}

.catalogue__top::after {
  content: ''; /* Необхідно для відображення псевдоелемента */
  position: absolute; /* Позиціонування відносно h1 */
  bottom: 0;
  left: 0;
  width: 136px;
  height: 2px;
  border-bottom: 2px solid #A5C926;
  transform: translateY(2px);
  transition: width .7s ease-in .1s;
}

.catalogue__top:hover::after {
  width: 100%;
}

.catalogue__top h3 {
  font-size: 28px;
}

.catalogue__top a {
  font-size: 13px;
  color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #E5E5E5;
  padding: 0 4px;
  transition: border-bottom 0.2s ease-in-out;
}

.catalogue__top a:hover {
  border-bottom: 1px solid #111;
}

.catalogue__top a span {
  margin-right: 4px;
}

.catalogue__top a img {
  width: 14px;
}

.catalogue__items {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 30px;
}

.catalogue__card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 270px;
  height: 328px;
  border-radius: 16px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.2s ease-in-out,
  transform 0.2s ease-in-out;
}

.catalogue__card:hover {
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.06);
  transform: translateY(-5px);
}

.catalogue__card img {
  margin-top: auto;
  margin-bottom: 25px;
}

.catalogue__card h6 {
  margin-bottom: 12px;
  font-size: 14px;
}

.catalogue__card button {
  padding: 2px 12px;
  color: #fff;
  background-color: #A5C926;
  font-family: Open Sans;
  font-size: 12px;
  border-radius: 16px;
  line-height: 20px;
  margin-bottom: 32px;
}

.catalogue__card button:hover {
  text-decoration: underline;
}

/* ----- promotional-video ----- */

.promotional-video {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.promotional-video__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  display: flex;
  align-content: space-between;
  justify-content: center;
  flex-direction: column;
  max-width: 718px;
  max-height: 232px;
  color: #fff;
  font-family: Open Sans;
  font-size: 14px;
  text-align: center;
  align-items: center;
}

.promotional-video__content p {
  margin-bottom: 17px;
}

.promotional-video__desc {
  margin-bottom: 26px;
}

.promotional-video__content h3 {
  color: #fff;
  font-size: 36px;
  margin-bottom: 18px;
}

.promotional-video__content button {
  padding: 23px;
  background-color: #A5C926;
  width: 63px;
  transition: box-shadow .1s ease-in-out, transform .05s ease-in-out;
}

.promotional-video__content button:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}

.promotional-video__content button:active {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  transform: scale(0.97);
}


.promotional-video__content img {
  width: 16px;
}

/* ----- trial ----- */

.trial {
  padding: 120px 0;
}

.trial .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.trial h2, h3 {
  font-size: 31px;
}

.trial__top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 96px;
}

.trial__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.trial__body {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  align-items: flex-start;
}

.trial__body h3 {
  padding-bottom: 24px;
  margin-bottom: 25px;
  position: relative;
}

.trial__body h3::after {
  content: ''; /* Необхідно для відображення псевдоелемента */
  position: absolute; /* Позиціонування відносно h1 */
  bottom: 0;
  left: 0;
  width: 70px;
  height: 2px;
  border-bottom: 2px solid #A5C926;
  transition: width .3s ease;
}

.trial__body h3:hover::after {
  width: 100%;
}

.trial__body p {
  color: #999;
  font-size: 14px;
  margin-bottom: 26px;
  line-height: 24px;
}

.trial__poster {
}

.trial_poster img {
  width: 567px;
  height: 422px;
}

/* ----- spam ----- */

.spam {
}

.spam .container {
  background-color: #fff;
  border-radius: 16px;
  height: 173px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 47px;
}

.spam__body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spam__body img {
  padding: 20px;
  background-color: #A5C926;
  width: 63px;
  margin-right: 23px;
}

.spam__body p {
  color: #111;
  font-size: 23px;
  line-height: 32px;
  font-family: Varela Round;
}

.spam__body p span {
  color: #A5C926;
}

.spam__form input {
  background-color: #F8F8F8;
  padding: 12px 29px;
  width: 376px;
  border-radius: 24px;
  border: 2px solid #E5E5E5;
  margin-right: 16px;
  font-size: 18px;
  transition: all .3s ease;
}

.spam__form input:focus {
  border: 2px solid #b1b1b1;
}

.instagram .container {
  padding: 120px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.instagram h3 {
  font-size: 31px;
  margin-bottom: 85px;
}

.instagram__gallery {
  margin-bottom: 75px;
  gap: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.instagram__gallery img:first-child {
  border-radius: 16px 0 0 0;
}

.instagram__gallery img {
  width: 172px;
  height: 172px;
  transition: box-shadow 0.2s ease-in-out,
  transform 0.2s ease-in-out;
}

.instagram__gallery img:hover {
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.06);
  transform: translateY(-5px);
}

/* ----- footer ----- */

.footer {
  color: #fff;
  background-color: #A5C926;
}

.footer .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer__top {
  padding: 47px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.footer__top .nav {
  color: #fff;
}

.footer__top ul {
  display: flex;
}

.footer nav button {
  color: #fff;
}

.footer nav button:hover {
  text-decoration: underline;
}

.footer__bottom {
  font-family: Open Sans;
  font-size: 11px;
  padding: 33px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.footer__powered-by {
  display: flex;
  align-items: center;
  color: #fff;
}

.footer__powered-by a {
  color: #fff;
  text-decoration: none;
  position: relative;
}

.footer__powered-by a:first-child {
  margin-left: 8px;
}

.footer__powered-by a span {
  display: inline-block; /* дає змогу анімувати тільки текст */
  transition: transform .2s ease-in-out;
}

.footer__powered-by a:hover span {
  transform: translateY(-2px);
  text-decoration: underline;
}

/* крапка перед кожним лінком, крім першого */
.footer__powered-by a:not(:first-child)::before {
  content: "·";
  margin: 0 8px;
  color: #fff;
}

.footer__top ul li {
  transition: transform .2s ease-in-out;
}

.footer__top ul li:hover {
  transform: translateY(-2px)
}